<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        h1 { 
            color: red;
        }
    </style>
</head>
<body>
    <p>Bonjour, {{name}}</p>
    <p>Suite a votre demande de réinitialisation de mot de passe tu trouvera ci-dessous un lien qui te permettra de crée un nouveau mot de passe</p>
     <a href="{{url}}">renitialiser mon mot de passe</a>
    
    <p>si tu n'ai pas a l'origine de cette demande merci de tout simplemnt ignorer cette email</p>
   
</body>
</html>