<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
    <p>Bonjour, {{name}}</p>
    <p>par sécuriter votre compte à était désactiver </p>
    <p>Vous trouverez ci-joint le nouveau mot de passe provisior qui vous permettra de réactiver votre compte</p>
    <ul>
        <li>mot de passe : {{password}}</li>
    </ul>
    <p> Par sécurité lors de votre connection vous serait emmener à changer le mot de passe qui vous à était transmis</p>
  
</body>
</html>