<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        h1 { 
            color: red;
        }
    </style>
</head>
<body>
    <p>Bonjour, {{name}}</p>
    <p>Vous trouverez ci-joint les identifants qui vous permettrons d'activer votre compte</p>
    <ul>
        <li>id : {{identifiant}}</li>
        <li>mot de passe : {{password}}</li>
    </ul>
    <p> Par sécurité lors de votre première connection vous serait emmener à changer le mot de passe qui vous à était transmis</p>
</body>
</html>