<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>

    </style>
</head>
<body>
    <p>Bonjour, {{name}}</p>
    <p>nous te confirmons que ton mot de passe a bien était rénitialiser</p>
     
    
    <p>si tu n'ai pas à l'origine de cette demande nous allons desactiver ton compte et t'envoyer un mot de passe provisor</p>
    <p>clique <a href="{{url}}">ici</a>si tu n'est pas a l'origine de cette demande</p>
   
    
</body>
</html>