<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
</head>
<body>
<h1>Problème détecté</h1>
<p>Bonjour nous avons remarqué qu'un connexion à été refusé, car vous avez atteint le nombre maximum de session connecté pour votre utilisateur:</p>
<ul>
    <li>IP: {{ip}}</li>
    <li>Limite actuelle: {{limit}}</li>
    <li>Email: {{email}}</li>
    <li>Heure: {{date}}</li>
</ul>
<p>Pour régler ce probème plusieurs solution s'offre à vous:</p>
<ul>
    <li>
        <div>
            <p>Déconnecter un utilisateur connecté sur le périphérique concerné</p>
        </div>
    </li>
    <li>
        <div>
            <p>Changer de mot de passe réinitialiseras tous les périphérique connecté.</p>
        </div>
    </li>
    <li>
        <p>Si cela ne règle pas votre problème veuillez vérifié que vous n'utiliser pas un sous compte.</p>
    </li>
</ul>
</body>
</html>