<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>Problème détecté</h1>
    <p>Bonjour vous voyer ce message car nous avons trouver un problème:</p>
    <ul>
        <li>Une address IP différente de vos ip habituel s'est connecté.</li>
        <li>IP: {{ip}}</li>
        <li>Email: {{email}}</li>
        <li>Heure: {{date}}</li>
    </ul>
</body>
</html>